body {
    margin: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
main {
    max-width: 800px;
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
header{ 
   margin-bottom: 10px;
   text-align: center;
}
header h2 {
    color: #2c3e50;
    font-size: 2.5em;
}
img {
    border-radius: 50%;
}
section {
    margin-bottom: 5px;
}
h2 {
    color: #1a73e8;
    margin-bottom: 10px;
    border-bottom: 2px solid #1a73e8;
    padding-bottom: 5px;
}
ul , ol {
    margin-left: 20px;
    line-height: 1.6;
    text-decoration: none;
}
a {
    text-decoration: none;
}
form input , form textarea {
    width: 100%;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
form button{
    background-color: #1a73e8;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 40%;
}
form button:hover {
    background-color: #155ab6;
    transition: 0.3s;
}
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    max-width: 50%;
    margin-left: 20%;
}